.places {
    margin: 30px 0;
}

.places h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.places-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 45%;
}

.places article h2 {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
}